# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 4 space indentation
[*.h]
indent_style = space
indent_size = 4

[*.cpp]
indent_style = space
indent_size = 4

[*.R]
indent_style = space
indent_size = 4
